<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.com">

<head>
  <meta charset=UTF-8>
  <title>Record</title>
  <div th:replace="common :: common-css"></div>
</head>

<body>
  <th:block>

    <!-- Modals -->
    <th:block>
      <!-- Create Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Create new record</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form th:action="@{/process_report_detail/{id}(id=${report.id})}" th:object="${recordRequest}" method="post">
                <div class="alert alert-warning" role="alert" id="startEndNotMatchAlert">Your start time should be at least before your end time.</div>
                <div class="alert alert-warning" role="alert" id="lowWorkingTimeAlert">You can't create report with working time less than 1 hour.</div>
                <div class="alert alert-warning" role="alert" id="nightWorkAlert">You can't work from 22:00 - 5:00.</div>
                <div class="alert alert-warning" role="alert" id="dayWorkLimitAlert">You can't work over 8 hours a day.</div>
                <div class="alert alert-warning" role="alert" id="lowRestAlert">Work duration longer than 6 hours require atleast 1 hour break.</div>
                <div class="mb-3">
                  <label for="courseNameId" class="form-label">Course Name</label>
                  <input type="text" name="courseNameId" th:value="${report.getCourse().getCourseName.getName()}" class="form-control" disabled>
                </div>
                <input type="hidden" name="targetMonth" id="targetMonth" th:value="*{targetMonth}" class="form-control">
                <div class="mb-3">
                  <label class="form-label">date</label>
                  <div class="input-group">
                    <input type="month" name="targetMonth" id="targetMonth" th:value="*{targetMonth}" class="form-control" disabled>
                    <input type="number" name="targetDay" th:errorclass="is-invalid" id="targetDay" th:value="*{targetDay}" class="form-control" min="1" th:max="${valueOfMonth}">
                    <div class="invalid-feedback" th:errors="*{targetDay}"></div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="workCategoryId" class="form-label">Work Category</label>
                  <select name="workCategoryId" class="form-select">
                    <th:block th:each="workCategory : ${@workCategoryRepository.findAll()}">
                      <option th:value="${workCategory.id}" th:text="${workCategory.name}"></option>
                    </th:block>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="startTime" class="form-label">Start Time</label>
                  <input type="time" name="startTime" id="startTime" th:value="*{startTime}" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="endTime" class="form-label">End Time</label>
                  <input type="time" name="endTime" id="endTime" th:value="*{endTime}" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="breakTime" class="form-label">Break Time</label>
                  <div class="row">
                    <div class="col">
                      <input type="number" name="breakHour" th:errorclass="is-invalid" id="breakHour" th:value="*{breakHour}" min="0" max="24" step="1" class="form-control">
                      <div class="invalid-feedback" th:errors="*{breakHour}"></div>
                    </div>
                    <div class="col">hour</div>
                    <div class="col">
                      <input type="number" name="breakMinute" th:errorclass="is-invalid" id="breakMinute" th:value="*{breakMinute}" min="0" max="60" step="1" class="form-control">
                      <div class="invalid-feedback" th:errors="*{breakMinute}"></div>
                    </div>
                    <div class="col">minute</div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="breakTimeSend" class="form-label">Break Time (in Minutes)</label>
                  <input type="number" id="breakTimeSend" name="breakTime" class="form-control" readonly>
                </div>
                <div class="mb-3">
                  <label for="totalWorkHourDisplay" class="form-label">Total Work Hour (in Hours and Minutes)</label>
                  <input id="totalWorkHourDisplay" value="0" class="form-control" readonly>
                </div>
                <div class="mb-3">
                  <label for="totalWorkHourSend" class="form-label">Total Work Hour (in Minutes)</label>
                  <input name="totalWorkHour" id="totalWorkHourSend" value="0" class="form-control" readonly>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button class="btn btn-primary" id="createButton">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete record</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure to delete this record?</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <form th:action="@{/record/delete}" method="post">
                <button id="deleteBtn" name="recordId" type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </th:block>

  <div class="ps-3 mb-3 pt-2 bg-dark text-white">
    <div class="d-flex bd-highlight">
      <h1 class="flex-grow-1 bd-highlight">Records</h1>
      <h1 class="me-3 bd-highlight fw-light" th:text="${report.getAssistant().getUser().getFullName()}"></h1>
      <h1 class="me-3 bd-highlight fw-light" th:text="${report.getAssistant().getStudentId()}"></h1>
      <h1 class="me-3 bd-highlight fw-light" th:text="${report.getAssistanceType.getName()}"></h1>
    </div>
  </div>
  <div class="d-flex flex-column container w-50 mx-auto mb-3" style="max-width: 1200px;">
    <div class="d-flex flex-wrap align-items-center border-bottom mb-4" th:object="${reportDetailForm}">
      <div id="titles" class="d-flex flex-nowrap justify-content-between align-items-center">
        <div class="fs-2" th:text="*{courseName}"></div>
        <div class="fs-4 ms-4" th:text="*{targetMonth}"></div>
        <div class="fs-4 ms-4" th:text="*{targetYear}"></div>
      </div>
      <div id="topButtons" class="ms-auto row">
        <div class="d-flex justify-content-end align-items-center">
          <!-- Create Record Trigger -->
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create new record</button>
          <div class="d-none dropdown px-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Filter</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><button class="dropdown-item" type="button">Recent</button></li>
              <li><button class="dropdown-item" type="button">Month</button></li>
              <li><button class="dropdown-item" type="button">Course</button></li>
            </ul>
          </div>
          <div class="d-none input-group w-25">
            <input type="text" class="form-control" placeholder="Keyword">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
          </div>
        </div>
      </div>
    </div>

    <h4>
      <div class="badge bg-warning text-dark" th:text="${errorMessage}"></div>
      <th:block class="weekly-work-limit-errors" th:each="weeklyWorkLimitErrorForm :${workLimitErrorForm.weeklyWorkLimitErrorForms}" th:object="${weeklyWorkLimitErrorForm}">
        <th:block th:switch="*{weeklyWorkLimitErrorType}">
          <div th:case="*{WEEKLY_TOTAL_TIME_ERROR}" class="text-wrap text-start mb-1 badge bg-warning text-dark"
              th:text="|Weekly working hours exceed the limit from *{#temporals.format(weekStartDate, 'yyyy/MM/dd')} to *{#temporals.format(weekEndDate, 'yyyy/MM/dd')}.|"></div>
          <div th:case="*{WEEKLY_TOTAL_WORK_DAY_ERROR}" class="text-wrap text-start mb-1 badge bg-warning text-dark"
              th:text="|Working 7 days in a week from *{#temporals.format(weekStartDate, 'yyyy/MM/dd')} to *{#temporals.format(weekEndDate, 'yyyy/MM/dd')}.|"></div>
        </th:block>
      </th:block>
    </h4>

    <div class="d-flex justify-content-between">
      <a th:href="@{/ta/{id}(id=${assistant_id})}" class="btn btn-secondary btn-sm mb-1">Back</a>

      <form th:action="@{/print/{id}(id=*{report.id})}">
        <button type="submit" class="btn btn-secondary btn-sm mb-1" th:disabled="!${#lists.isEmpty(workLimitErrorForm.weeklyWorkLimitErrorForms)} or ${resultOfJudgeDailyTotalWorkHour}">Print</button>
      </form>
    </div>

    <th:block th:object="${reportDetailForm}">
      <th:block th:each="dailyReportDetailForm: *{dailyReportDetailForms}" th:object="${dailyReportDetailForm}">
        <div class="mb-4">
          <label class="fs-3 mb-1 pe-2" th:text="*{targetMonth} + '/' + *{targetDay}"></label>
          <label class="fs-3 mb-1 px-2" th:text="*{dayOfWeek}"></label>
          <th:block th:with="dailyTotalWorkHour=*{dailyTotalWorkHour}">
          	<th:block th:if="${dailyTotalWorkHour gt 8}">
          		<label class="fs-5 mb-1 px-2 text-danger" th:text="|Total Time: *{dailyTotalWorkHour}/8h|"></label>
          	</th:block>
          </th:block>
          
          <th:block th:with="dailyTotalWorkHour=*{dailyTotalWorkHour}">
          	<th:block th:if="${dailyTotalWorkHour le 8}">
          		<label class="fs-5 mb-1 px-2" th:text="|Total Time: *{dailyTotalWorkHour}/8h|"></label>
          	</th:block>
          </th:block>

          <th:block th:each="dailyCategoryReportDetailForm: *{dailyCategoryReportDetailForms}" th:object="${dailyCategoryReportDetailForm}">
            <div class="d-flex flex-wrap border row p-2 mb-2 align-items-center">
              <div class="col-1" th:text="*{workCategoryId}"></div>
              <div class="col-4" th:text="*{workCategoryName}"></div>
              <div class="col-3" th:text="|Total Time: *{dailyCategoryWorkHour}h|"></div>
              <div class="col-4 row d-flex flex-wrap justify-content-between">
                <form class="col-6" th:action="@{/edit_record/{id}(id=*{recordId})}">
                  <button class="btn btn-outline-success btn-sm w-100" type="submit">Edit</button>
                </form>
                <div class="col-6">
                  <button class="btn btn-outline-danger btn-sm deleteModalBtn w-100" type="submit" data-bs-toggle="modal" data-bs-target="#deleteModal" th:value="*{recordId}">Delete</button>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </th:block>
      <!-- <form th:action="@{/ta/{id}(id=*{report.id})}">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-secondary btn-sm mb-1">Back to main</button>
        </div>
      </form> -->
    </th:block>

  </div>
  <div th:replace="common :: common-js"></div>
  <script th:src="@{/js/report_detail.js}"></script>
</body>

</html>